* {
  box-sizing: border-box;
}

.header {
  background-color: #292C34;
  height: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  padding: 10px 20px;
}

.app-container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-container {
  padding: 40px 40px;
  text-align: center;
}

.search-input {
  width: 200px;
  height: 40px;
  margin: 20px 20px 0 0;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.search-button {
  width: 200px;
  height: 40px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 1px;
  background-color: #42c5f4;
  color: #292C34;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.search-button:hover {
  background-color: white;
  color: #42c5f4;
  border: 1px solid #42c5f4;
  border-radius: 1px;
}

.leaflet-container {
  margin: 0 auto;
  height: 400px;
  width: 67%;
  border: 1px solid #ccc;
  border-radius: 1px;
}

#mapid {
  height: 100%;
  width: 100%;
}


/* .main-menu {
height: 80vh;
min-height: 80vh;
background-color: #ccc;
grid-column: 1 / 2;
z-index: 1;
overflow-x: hidden;
padding: 30px 30px;
}

.menu-heading {
margin-bottom: 20px;
}

.locations-list {
list-style: none;
} */
