* {
  box-sizing: border-box;
}

.leaflet-container {
  margin: 0 auto;
  height: 400px;
  width: 67%;
  border: 1px solid #ccc;
  border-radius: 1px;
}

#mapid {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #292C34;
  height: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  padding: 10px 20px;
}

.app-container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-container {
  padding: 40px 40px;
  text-align: center;
}

.search-input {
  width: 200px;
  height: 40px;
  margin: 20px 20px 0 0;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.search-button {
  width: 200px;
  height: 40px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 1px;
  background-color: #42c5f4;
  color: #292C34;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  /* background-image: url('https://atom-minimap.github.io/minimap/image/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}

.search-button:hover {
  background-color: white;
  color: #42c5f4;
  border: 1px solid #42c5f4;
  border-radius: 1px;
}

.popup-container {
  width: 200px;
  height: 200px;
}

.popup-title {
  font-size: 28px;
}

.popup-description {
  font-size: 16px;
  height: 125px;
  overflow: auto;
}

.popup-input {
  width: 200px;
  height: 40px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 1px;
  text-align: center;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.popup-button {
  width: 200px;
  height: 40px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 1px;
  background-color: #42c5f4;
  color: #292C34;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  align-self: baseline;
}

.popup-button:hover {
  background-color: white;
  color: #42c5f4;
  border: 1px solid #42c5f4;
  border-radius: 1px;
}

.popup-container > img.edit-icon {
  width: 20px;
  position: absolute;
  left: 200px;
  top: 190px;
}

.popup-container > img.delete-icon {
  width: 25px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 189px;
}
