* {
  box-sizing: border-box;
}

.header {
  background-color: #292C34;
  height: 50px;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  padding: 10px 20px;
}

.app-container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-container {
  padding: 40px 40px;
  text-align: center;
}

.search-input {
  width: 270px;
  height: 40px;
  margin: 20px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 1px 1px;
  text-align: left;
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.search-button {
  width: 50px;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 0 1px 1px 0;
  background-color: #42c5f4;
  color: #292C34;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background-image: url('./assets/search-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  transition: all .2s;
  /* -webkit-transition: background 0.9s ease-in-out;
  transition: background 0.9s ease-in-out; */
}

.search-button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  background-image: none;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 1px 1px 0;
}

.invalid-city {
  font-style: italic;
  color: red;
  font-weight: normal;
  margin-top: 10px;
}

.map-nav-container {
  margin: 0 auto;
  height: 40px;
  width: 67%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-radius: 1px;
  background-color: white;
  display: flex;
}

.map-nav-button {
  width: calc(100%/3);
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
	cursor: pointer;
	display: block;
	position: relative;
  border: none;
  background-color:
}

.map-nav-button:hover {
	background-color: transparent;
	text-shadow: none;
}

.leaflet-container {
  margin: 0 auto;
  height: 400px;
  width: 67%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 1px;
}

#mapid {
  height: 100%;
  width: 100%;
}

.popup-container {
  width: 200px;
  height: 200px;
}

.leaflet-popup-content p {
  margin: 0;
}

.popup-title {
  font-size: 28px;
}

.popup-category {
  font-size: 14px;
  font-style: italic;
}

.popup-description {
  margin-top: 13px;
  font-size: 16px;
  height: 125px;
  overflow: auto;
}

.popup-input {
  width: 200px;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 0 10px;
  text-align: left;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.select-div select {
  width: 200px;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 0 10px;
  background-color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  /* -webkit-appearance: none;
  -webkit-border-radius: 1px; */
}

.popup-button {
  width: 200px;
  height: 40px;
  margin: 10px 0 20px 0;
  border: none;
  border-radius: 1px;
  background-color: #42c5f4;
  color: #292C34;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  align-self: baseline;
}

.popup-button:hover {
  background-color: white;
  color: #42c5f4;
  border: 1px solid #42c5f4;
  border-radius: 1px;
}

.popup-container > img.edit-icon {
  width: 20px;
  position: absolute;
  left: 200px;
  top: 190px;
}

.popup-container > img.delete-icon {
  width: 25px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 189px;
}
